{% set map = {
    'Ubuntu': {
        'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
        'pkgs_client': ['nfs-common'],
        'service_name': 'nfs-kernel-server'
    },
    'Debian': {
        'pkgs_server': ['nfs-common', 'nfs-kernel-server'],
        'pkgs_client': ['nfs-common'],
        'service_name': 'nfs-kernel-server'
    }
} %}

{% if grains.get('saltversion', '').startswith('0.17') %}
{% set nfs = salt['grains.filter_by'](map, merge=salt['pillar.get']('nfs:lookup'), base='default') %}
{% else %}
{% set nfs = map.get(grains.os) %}
{% endif %}
